<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asamoahfamily.games">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/naught"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen"
            android:label="@string/hub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicTacToe"
            android:label="@string/title_activity_tic_tac_toe"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".gamesList"
            android:label="@string/title_activity_games_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".Nim"
            android:label="@string/title_activity_nim"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeScreen"/>
    </application>

</manifest>